@import 'responsive';

.popup {
    position: fixed;
    z-index: 15;
    top: 0;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    transform: translateX(-100%);
    background-color: #010101;
    padding-top: 40px;
    padding-bottom: 40px; 
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform .25s ease-in-out;
    @include media(mdx) {
        padding-top: 40px;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    .title {
        text-align: center;
    }
    &__form {
        max-width: 820px;
        width: 100%;
        max-height: calc(100vh - 80px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        margin: 0 auto;
        @include media(mdx) {
            position: static;
            overflow: hidden;
            max-height: initial;
            transform: none;
        }
    }
    &__user {
        @include media(mdx) {
            overflow-x: hidden;
            overflow-y: auto;
            max-height: calc(100vh - 80px);
        }
    }
    &__wrap {
        margin-top: 80px;
        @include media(mdx) {
            margin-top: 40px;
        }
    }
    &__item {
        margin-bottom: 50px;
        @include media(mdx) {
            margin-bottom: 30px;
        }
    }
    &__btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 212px;
        width: 100%;
        font-size: 32px;
        color: #3BEEB7;
        text-transform: uppercase;
        background-color: transparent;
        text-align: left;
        border: 1px solid #3BEEB7;
        border-radius: 40px;
        padding: 20px 40px;
        padding-right: 35px;
        margin-left: auto;
        transition: 0.25s color, 0.25s border-color;
        @include media(sm) {
            font-size: 24px;
            padding: 14px 40px;
            padding-right: 35px;
            border-radius: 20px;  
        }
        svg {
            fill: #3BEEB7;
            transition: 0.25s fill;
        }
        &:hover {
            border-color: #fff;
            color: #fff;
            svg {
                fill: #fff;
            }
        }
    }
    &__close {
        position: fixed;
        cursor: pointer;
        top: 100px;
        right: 100px;
        display: block;
        width: 90px;
        height: 90px;
        background-color: transparent;
        border: none;
        padding: 0;
        @include media(lgsm) {
            top: 20px;
            right: 10px;
        }
        @include media(mdx) {
            position: static;
            margin: 20px;
            margin-left: auto;
            width: 70px;
            height: 70px;
        }
        svg {
            display: block;
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
        path {
            transition: 0.25s fill;
            &:first-child {
                fill: #3AEEBD;
            }
            &:last-child {
                fill: #fff;
            }
        }
        &:hover  {
            path {
                &:first-child {
                    fill: #fff;
                }
                &:last-child {
                    fill: #3AEEBD;
                }
            }
        }
    }
    &__success {
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 680px;
        width: 100%;
        transform: translate(-50%, -50%);
        color: #5e7b5a;
        font-size: 68px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        @include media(sm) {
            font-size: 50px;
        }
        @include media(xs) {
            max-width: 330px;
            font-size: 29px;
        }
    }
}

.modal__form--hidden {
    display: none;
}